:root{
    --success-color:#2691d9;
    --error-color:rgb(241, 68, 68);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    background-color: #accada;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 40px;
}
.container h1{
    text-align: center;
}
.form-control{
    width: 100%;
    position: relative;
    margin-top: 40px; ;
}
.form-control input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #adadad;
}
.form-control span{
    position: absolute;
    border-bottom: 3px solid var(--success-color);
    left: 0;
    top: 38px;
    width: 0%;
    transition: 3s;
}

.form-control input:focus ~ span {
    width: 100%;
}
.form-control.error small {
    color:var(--error-color);
    /* border-bottom: var(--error-color); */
}
.form-control.error input{
    border-bottom:  3px solid var(--error-color);
}

.submit{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border:  none;
    outline: none;
    background-color:var(--success-color) ;
    color: white;
    font-size: 18px ;
    font-weight: bold ;
    margin: 25px 0;
}
.submit:hover{
    background: #08609a;
}
.signup-link{
    text-align: center;

}
.signup-link a{
    color: var(--success-color);
    text-decoration: none;
    cursor: pointer;
}
.signup-link a:hover{
    text-decoration: underline;
}